<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>RatelMesh</string>
	<key>CFBundleExecutable</key>
	<string>ratelmesh-menu</string>
	<key>CFBundleIconFile</key>
	<string>RatelMesh</string>
	<key>CFBundleIdentifier</key>
	<string>com.ratelmesh.menubar</string>
	<key>CFBundleName</key>
	<string>RatelMesh</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.39</string>
	<key>CFBundleVersion</key>
	<string>239</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSLocationUsageDescription</key>
	<string>RatelMesh uses an authorized location reading only to place this device in a coarse region on your private network map. Exact coordinates stay on this Mac.</string>
	<!-- Inset one-ink raster of the accepted honey-badger menu-template mark. -->
	<key>RatelMeshMenuTemplatePNG</key>
	<data>
	iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAADhl
	WElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAQKADAAQAAAAB
	AAAAQAAAAABlmWCKAAAHS0lEQVR4Ae2ZaahVVRSAzSGHsjSzKCtfZg6pDTbYoHQxyYF+
	WRT9CLXCijCKslCiEYkKizDqX+CPKCL/JGmlkJUhNosophaOmaaWWRkO1fflPbLZ7HOH
	9+59Pusu+Dz7rL32Wmuvs88++z7btWtIowKNCjQq0KhAowKNCjQq0KhAowL/ywoc14qz
	7kCs0+EU6AlnQndQ9sJW+AV2w3Y4BHWX1iiAE74UCjAOLoG8uH/T9zW8B0vgS7AgdZO8
	RGoRsDdO7oGbYUjR4YNcN8Nfxfv40h7F2TC72LGK61vwKvxU1LX5S0cynAyfwyYowEUw
	FCoVbR0zAjaCviaDvtu0mPQccBkXoBu0VPRRAH3q2xg1k1q9AiZ5K5jcTngK6iGP4fRU
	WAFvwB/QIqmmAOcTyffT4LuCqJfR9sl8AI8HepsD4SZYCL9De1Dc7A7AeG8Q+ztBlo97
	xIngpvk2fAuhPMnN9TANvgg6LM6FsAnWB/rcpp+mSuR2jF6B2+BG+AEMcj+8APPhCYg3
	t9HoZoAT3gfHw0nQFwqgr2HQGczFIpwAfiLHwhSw4KshlKXc9INZ4L7g6zEB5sJkmAiu
	DvUlJat4KSMD+YQGwEboDk7iezBRl+LdEE++PbpbwA3MyTkhv+9O8CAsgx2gnAZXgZNx
	pXi/CLS7At6ElP9n0d8J+j0PfoM9YF4bwBVknrlikuXEpa/z56EJRsP7cDpsgakQJ4eq
	3bnwM+wF94jN4AT3wxr4CUxWbKuzTxv9dgXH7gZ9xWLM6bAafDUtmEVugvvAnM29pBis
	nLh0/4STwYK5JG8An5irISUjUT4Iy+EccCLfgRPtAQPhcugFyq4iq7h6GuwNg8Cn3xPu
	gtmwFGJ5GoX5LSl2mONFYN5SUipZASvxsBZ80r7LmSyjMQ2ezBTB1delH/h0ffJbwSfa
	BL4+3m+AUWCxbKuzrwm09X4T6ENf+ozF2PfCkqDDHH0l14G510Sm4MVEtsOLcBy8Cgbz
	PR0NoTgBj8Ch+FSbAly2F8BgsN0UoG0o+tJnKBdz4+thDvPAnB4Hc/wVpkBN5QG8uYQN
	+Aj47tmWWeDTi6U/imuLfMo1sy931TYbZ4Fi6Y7CmJkfczEn783RXOsiM/GaBY2vFwYR
	R9C+A74pYR+Pz7t379CXPjMZRiPP3hzrJgU85wX+mL6BsAB2lrDLG19Or099XwLGyrMv
	0Fc3MfghSAV3p780py9l31zd5cQwVmq8uZlj3cRP0zZIBb8avRuRu7qbUMqmJTp96lu5
	BlK+zM0cK5b2FVseNtzH5cfEGJdnNmm/1fdBdspLmFetcmfXZ3YOcKNbn/BibuZYN/HH
	xnyIqz8dXaco6uKEXTyu0vuPIt/eZueS0Ie5mWPFUosVcJBo7tQHoqju3D6ploonw0cT
	Tnahi2NWvQKqLYBHzvgV8FP3SSLBjYkEE2ZlVX9gkfK/BL3nhVDMzRwrlmoL4C4bF+Ay
	dONzInpgaank+ZiA40Lk3NzMsWKptgA6Tm1ueUGnYe/m2FzZz0A3v5SkfoGmckuNPaLr
	eKRVecMJ+d6HYy2kn0A3pFDmcvMldIUOMBv8XJaStXROAotqAVZALMaKH545taTYcYzc
	e4+kuyHcff1DxPDcEYeLM49+389wXKrtpLWNJ4jqiPhDyJjheHMKj8tHjEs1SgXJG2eV
	40qfgC5cEdnYzjTcH16CieB9OfFzqu3L4NjUmOPRGzOUVF5hf83aZ+DJZRlW3/bQRIQ+
	Cbts3Ov0+amcBK+VsNNHLMNQZH6yqzmZW92lGxE8kWWBs+tn6LpH0c9M2Gm/CHoEto5T
	l/kKr/oIxfgLIbSxbU72VSXNeQX8LsevgEH9kRLvzCYW67TdAh5wMvHHzdbspszVDXBc
	wsaczK0qaU4BDBAmnwV0ovEmZFIu9Vh6ovA9DqVLeFNsL+e6L9IbI1XUVE7R0NrdPldM
	Il6G7sxjojD+8TS288fTlYHdYNrrEnYjAxub10G8+2erzJyqluaugNVE+j0RzZ35HVgA
	TkpJ7eK90Pf9t/fwPxdz6R/cZ82OxcYgrvrUd7z7a2Iu5tRqMpBImyF+suG9x9KzYFTC
	znfelZHJABobIBxv+xrQx7ZEX2hrLubUquJPzzCJVNsiPBPZ7eF+JsQyA4V9oZ+HuHfD
	DHWptrm0uowloqe2VEKldGsZMySRra+MfaXGpvrMwVxaXfwczYFUUuV02xlXgEz8hG6D
	cuNS/eZgLkdF+hB1MaQSK6ezCCuL/NBMH8Y2h6MqLt2vodyEa91vTGO3CfE/I9+FWk8y
	z5+xjNmmxO/zVEgdaPImUq1e38ZInQVQtw3x0DIbdkC1E8yz15c+9X1MiCc4N6eHwY3O
	k1re5PL0jnGsPvSVnQppHlvSjXSnwIfgD5a8CWd6bbR1jGP/M+JfekbCLFgP2YSzqzr7
	tNG2VeRoHCCM6bs8BoYXZ/kV18WwBizI/0a6MFNpSKMCjQo0KtCoQKMCR6EC/wAcGD/u
	TZIiXwAAAABJRU5ErkJggg==
	</data>
</dict>
</plist>
